<h1>Your Rosters</h1>
<ul>
  <% @rosters.each do |roster| %>
    <li> <%= link_to "#{roster.name}", roster_path(id: roster.id) %></li>
  <% end %>
</ul>

<p>Add a <%= link_to 'new Roster', new_roster_path %>.</p>