<h1>Your Readers</h1>
<ul>
  <% @readers.each do |reader| %>
    <li> <%= link_to "#{reader.username}", reader_path(id: reader.id) %> </li>
  <% end %>
</ul>

<p>Add a <%= link_to 'new Reader', new_reader_path %>.</p>

