<h1>Welcome to ReadingLog!</h1>


<p>ReadingLog is your online platform for recording the books you read, as you read them.</p>

<p><%= link_to 'Register', new_user_path %> or <%= link_to 'Log In', new_session_path %> to start logging your literary adventures!</p>
