<h1>Reading Log</h1>

<p>Reader: <%= @log.reader.name %></p>
<p>Roster: <%= @log.roster.name %></p>

<p>Return to <%= link_to 'Reader', reader_path(id: @log.reader_id, user_id: @log.reader.user_id) %> | <%= link_to 'Roster', roster_path(id: @log.roster_id) %>